//colors
$black: #000;
$grey: #353535;
$dark-grey: rgb(18,14,16) ;
$white: #fff;
$ivor: #f3f5f8;
$pink: rgb(255,103,140);
//fonts
$mm:"Montserrat-Medium";
$ce:"ChasingEmbers";
$vr:"VarelaRound";


$font-size: 1.1em;

 
 //font-size
 $f110: 11rem;
 $f34: 3.4rem;
 $f26: 2.6rem;
 $f24: 2.4rem;
 $f20: 2rem;
 $f18: 1.8rem;
 $f16: 1.6rem;
 $f14: 1.4rem;
 $f12: 1.2rem;

